* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4D2DB7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; 
}

h1 {
    font-size: 30px;
    color: white;
    margin-top: 20px;
}
.item1{
    width: 150px;
    flex-direction: row;    
    color: red;

}
.item2{
    flex-direction: row;
    color: greenyellow
}
.item3{ 
    color: aquamarine;
}